body{
  margin:0px;
}
header {
  text-align: center;
  width:100vw;
}
div h1{
  display:inline-block;
  color:white;
}
main{
  background-color: azure;
  width: 100vw;
  margin-left: 0px;
}
.para {
  margin-left: 1rem;
  width: 18rem;
  display: inline-block;
}
.title{
  margin-left: 10rem;
  width: 20rem;
  display: inline-block;
}
.right{
  display:inline-block;
  padding-left: 10rem;
    width: 15vw;
    position:absolute;
    margin-top:1rem;
}
.bold{
  font-weight:bold;
}
.right div{
  width:10rem;
  height:7rem;
  text-align:left;
}
.right div.img{
  background-color: lightblue;
  text-align: center;
}
section div{
  display:inline-block;
}
div.article h3{
  text-align: left;
  margin-block-end: 0em;
}
div.article p{
  text-align: left;
}
div p{
  text-align: center;
  font-size: 0.5em;
}
div h3{
  text-align: center;
}
div.sep{
  background-color: lightblue;
  display:inline-block;
  width: 22rem;
    height: 2vw;
    margin-left: 9rem;
    margin-top: 2rem;
}
header div{
  height:5rem;
  background-color: lightskyblue;
}
.top {
  outline: solid black 2px;
  margin:2px;
}
.bottom {
  outline: solid black 2px;
  margin:2px;
  background-color: lightskyblue;
  height:7rem;
}